@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
}

#coming-soon {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  max-width: fit-content;
}